src/main/resources/xsd/address1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:attribute name="version" type="xs:string"/>
    <xs:element name="address">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zip" type="xs:positiveInteger" />
                <xs:element name="city" type="xs:string" />
            </xs:sequence>
            <xs:attribute ref="version" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>